$assetsPath: "../../assets";

.body-container {
  background-image: url("#{$assetsPath}/tech_med.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,1);
  height: 300vh;
}

.card{
  margin: 5% auto 5%;
  height: auto;
  width: 50%;
  box-shadow: 0 6px 10px 0 lightblue;
  opacity: 1;

  @media screen and (max-width: 1024px) {
    margin: 10% auto 10%;
    width: 80%;
  }

}

.card-body{
  margin: auto;
  height: auto;
  width: auto;
}

.title-text{
  font-weight: bold;
  font-size: 80px;

  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }
}

.main-container {
  box-shadow: 0 4px 8px 0 lightblue;
  max-width: 50rem;
  background-color: white;
  width: 40%;
  height: auto;
  margin: 2% auto 2%;
  padding: 3rem;

  @media screen and (max-width: 1024px) {
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
