$assetsPath: "../../assets";

.body-container {
  background-image: url("#{$assetsPath}/tech_med.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300vh;
}

.main-container {
  box-shadow: 0 4px 8px 0 lightblue;
  max-width: 50rem;
  background-color: white;
  width: 40%;
  height: auto;
  margin: 1.5% auto 1.5rem;
  padding: 3rem;

  @media screen and (max-width: 1024px) {
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

}