$assetsPath: "../../assets";

.body-dashboard {
  //background-image: url("#{$assetsPath}/login_page.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300vh;
}

.card-new{
  margin: 5% auto 3%;
  height: auto;
  width: 70%;
  box-shadow: 0 6px 10px 0 lightblue;

  @media screen and (max-width: 1024px) {
    margin: 5% auto 5%;
    width: 80%;
  }
}

.card-basic-text{
  font-weight: bold;
  font-size: 80px;

  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }
}

a.link-nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.link-nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

